---
---
{% include header2.html %}
    <section class="slider-3">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="block">
              <span class="d-block mb-3 text-white"
                >{{ site.banner_top }}</span
              >
              <h1 class="animated fadeInUp mb-8 "> {{ site.banner_head_auto }} </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Section About Start -->
<section class="section about-2 position-relative" id="wir">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">{{ site.wir_top }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ site.wir_head }}</h2>
					<p class="mb-5">{{ site.wir_text_auto }}</p>
					<a href="#services" class="btn btn-main rounded">{{ site.wir_button }}</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="stock/pexels-pixabay-159298_3.jpg" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About End -->

<section class="about-info section pt-0 pb-0" style="">

<hr class=" mb-5 " style="height:2px;width:100%;text-align:center;margin-left:0;  border-top: 1px solid rgb(15,70,150);">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3">{{ site.punkt_1_head }}</h3>
					<p>{{ site.punkt_1_text_auto }}</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3">{{ site.punkt_2_head }} </h3>
					<p>{{ site.punkt_2_text_auto }}</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3">{{ site.punkt_3_head }}  </h3>
					<p>{{ site.punkt_3_text_auto }}</p>
				</div>		
			</div>
		</div>
	</div>
<hr class="bg-grey mt-5 pb-0" style="height:2px;width:100%;text-align:center;margin-left:0;  border-top: 1px solid rgb(15,70,150);">

</section>

<!-- Section About Start -->
<section class="section about-2 position-relative" id="wir">
	<div class="container">
		<div class="row">
		
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="stock/pexels-pavel-danilyuk-7658197_3.jpg" alt="about-image" class="img-fluid">
				</div>
			</div>
	<div class="col-lg-6">
				<div class="about-item pl-3 mb-5 mb-lg-0">
					<span class="h6 text-color">{{ site.weiteres_top }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ site.weiteres_head }}</h2>
					<p class="mb-5">{{ site.weiteres_text_auto }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
    <section class="section cta">
      <div class="container">
        <div class="row">
          <div class="col-x1-5 col-lg-6">
            <div class="cta-item bg-white p-5 rounded">
              <span class="h6 text-color"> {{ site.kasten_top }}</span>
              <h2 class="mt-2 mb-4">
{{ site.kasten_head }}
              </h2>
              <p class="lead mb-4">
{{ site.kasten_text }}
              </p>
							<h3><i class="ti-mobile mr-3 text-color"></i>{{ site.telefon }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  Section Cta End-->
<section class="section service border-top pb-6" id="services">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">{{ site.service_top }}</span>
					<h2 class="mt-3 content-title "> {{ site.service_head_auto }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bookmark"></i>
					<h4 class="mb-3">{{ site.icon_1_H_auto }}</h4>
					<p> {{ site.icon_1_T_auto }} </p>
				</div>
			</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-shield"></i>
					<h4 class="mb-3">{{ site.icon_2_H_auto }}</h4>
					<p> {{ site.icon_2_T_auto }} </p>
				</div>
			</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-ruler-alt"></i>
					<h4 class="mb-3">{{ site.icon_3_H_auto }}</h4>
					<p> {{ site.icon_3_T_auto }} </p>
				</div>
			</div>

	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-pencil"></i>
					<h4 class="mb-3">{{ site.icon_4_H_auto }}</h4>
					<p> {{ site.icon_4_T_auto }} </p>
				</div>
			</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-briefcase"></i>
					<h4 class="mb-3">{{ site.icon_5_H_auto }}</h4>
					<p> {{ site.icon_5_T_auto }} </p>
				</div>
			</div>

	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-thumb-up"></i>
					<h4 class="mb-3">{{ site.icon_6_H_auto }}</h4>
					<p> {{ site.icon_6_T_auto }} </p>
				</div>
			</div>

	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">{{ site.icon_7_H_auto }}</h4>
					<p> {{ site.icon_7_T_auto }} </p>
				</div>
			</div>
	<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-stats-up"></i>
					<h4 class="mb-3">{{ site.icon_8_H_auto }}</h4>
					<p> {{ site.icon_8_T_auto }} </p>
				</div>
			</div>

		</div>
	</div>
</section>
<!--  Section Services End -->
<section class="section cta" id="kontakt" style='background: url("../images/map.jpg") fixed 50% 50%;'>
      <div class="container" style="z-index: 20">
        <div class="row">
						<div class="col-x4-5 col-lg-6"></div>
          <div class="col-x1-5 col-lg-6">
            <div class="cta-item bg-white p-5 rounded">
              <span class="h6 text-color"> {{ site.kontakt_top }}</span>
              <h2 class="mt-2 mb-4">
{{ site.kontakt_head }}
              </h2>
	<ul class="address-block list-unstyled">
						<li>
							<i class="ti-email mr-3 text-color"></i>E-Mail: {{ site.email }}
						</li>
						<li>
							<i class="ti-mobile mr-3 text-color"></i>Telefon: {{ site.telefon }}
						</li>
						<li>
							<i class="ti-printer mr-3 text-color"></i>Fax: {{ site.fax }}
						</li>
	<li>
							<i class="ti-direction mr-3 text-color"></i>{{ site.adresse }},  {{ site.ort }}
							</li>
					</ul>
            </div>
          </div>
        </div>
</div>
    </section>
{% include footer.html %}
