---
---
{% include header2.html %}
<section class="d-flex bg-gray align-self-stretch">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <br /> 
        <br /> 
        <br /> 
        <br /> 
        <span class="h6 mb-lg-0 text-color">Kontaktformular</span>
        <br /> 
        <h6 class="mt-3 mb-4 position-relative content-title"> Nachricht erfolgreich versendet!</h6>
        <br /> 
        <br /> 
        <br /> 
    <br /> 
  <br /> 
        <br /> 
        <br /> 
        <br /> 
        <br /> 

        <br /> 
    <br /> 
        <br /> 
        <a href="https://bqs-gmbh.com" class="mt-5 btn btn-solid-border btn-rounded">Zurück zur Hauptseite</a>
        <br /> 
       <br /> 
        <br /> 
        <br /> 
              <br /> 
        <br /> 
        <br /> 
        <br /> 
        </form>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
