---
---
{% include header2.html %}
<section class="slider-4 img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="block">
          <span class="d-block mb-3 text-white"
                >{{ site.banner_top }}</span
              >
              <h1 class="animated fadeInUp" style="">Ihrem Experten im <br />Bereich &shy;Schulungen</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About Start -->
<section class="pb-0 section about-2 position-relative" id="wir">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta-item shadow bg-white p-5 rounded about-item pr-3 mb-10 mb-lg-0">
          <span class="h6 text-color">BQS-Schulung am 30.08.2023</span>
          <h2 class="mt-3 mb-4 lh-10 position-relative content-title">Seminar Medizin&shy;produkte&shy;berater MPDG@ONLINE</h2>
          <br />
          <table class="h5 pb-2 pt-3">
            <tbody style="line-height: 1.5" class="pb-2">
              <tr >
                <th scope="row">Referent:&emsp;&emsp;</th>
                <td>Alexander Thern</td>
              </tr>
              <tr>
                <th scope="row">Standort:</th>
                <td>Online-Seminar</td>
              </tr>
              <tr>
                <th scope="row">Sprache:</th>
                <td>Deutsch</td>
              </tr>
              <tr>
                <th scope="row">Dauer:</th>
                <td>13:00 bis 17:00 Uhr</td>
              </tr>
              <tr>
                <th scope="row">Termin:</th>
                <td>30.08.2023</td>
              </tr>
            </tbody>
          </table>
          <br />
          <table class="h5 pb-2 pt-3">
            <tbody style="line-height: 1.5" class="pb-2">
              <tr >
                <th scope="row">Gesamtpreis exkl. MwSt.:</th>
                <td>249,00 €</td>
              </tr>
              <tr>
                <th scope="row">Gesamtpreis inkl. MwSt.:</th>
                <td>296,31 €</td>
              </tr>
            </tbody>
          </table>
          <br />
          <br />
          <h5>Frühbucherrabatt bei Buchung dieses Seminars bis zum 16.07.2023:</h5>
          <br />
          <table class="h5 pb-2 pt-3 text-color">
            <tbody style="line-height: 1.5" class="pb-2">
              <tr >
                <th scope="row">Gesamtpreis exkl. MwSt.:</th>
                <td>219,00 €</td>
              </tr>
              <tr>
                <th scope="row">Gesamtpreis inkl. MwSt.: </th>
                <td>260,61 €</td>
              </tr>
            </tbody>
          </table>
          <br />
          <br />
          <h6 class="pb-3">Zur Buchung des Seminars kontaktieren Sie uns direkt: </h6>
          <p> <a href="kontaktformular.html" class="btn btn-main rounded">Zum Kontaktformular</a></p>
          <br />

          <h6 class="text-color"><b> Sonderkonditionen bereits ab 11 Teilnehmern </b></h6>
          </br />
          <h6><p> Unternehmen mit vielen Teilnehmern profitieren bei der BQS Best Quality Solutions GmbH 
            von interessanten Preisnachlässen. <br />
            Wir bieten diese Schulung auch in englischer Sprache an! <br />
            <b>Wir freuen uns, Ihnen auf Anfrage ein individuelles Angebot machen zu dürfen. </h6></b>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->
<!-- Section About Start -->
<br />
<br />
<br />
<section class="section cta">
  <div class="container">
    <div class="row">
      <div class="col-x1-5 col-lg-12">
        <div class="cta-item bg-white p-5 rounded">
          <span class="h6 text-color">Informationen</span>
          <h2 class="mt-2 mb-4">
            Nachfolger des MPG
          </h2>
          <p class="lead mb-4">
          Das MPDG (Medizin&shy;produkte&shy;durchführungs&shy;gesetz), der Nachfolger des MPG fordert weiterhin die Rolle des Medizin&shy;produkte&shy;beraters. Der Sicherheits&shy;beauftragte wird durch die von der MDR / IVDR geforderte Ver&shy;antwort&shy;liche Person (PRRC) ersetzt. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section about-2 position-relative" id="wir">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 pb-5 col-xl-3 d-none d-lg-block">
        <div class="about-item-img">
          <img loading="lazy" src="stock/ziele.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-8 col-xl-9">
        <div class="about-item pl-3 mb-5 mb-lg-0">
          <h2 class="mb-4 position-relative content-title">Ziele des Seminars</h2>
          <p class="">Das Seminar befähigt die Teilnehmenden, ihrer Rolle als Medizin&shy;produkteberater gerecht zu 
          werden und zu gewährleisten, dass sie alle diesbezüglichen gesetzlichen Forderungen 
          erfüllen. <br/>Sie
          <ul class="lh-10" style="list-style-type:'... ';" >
            <li> kennen die gesetzlichen Grundlagen und wissen, wie Medizin&shy;produkte in Europa reguliert sind. </li>
            <li> kennen die Änderungen des MPDGs im Vergleich zum MPG. </li>
            <li> kennen alle gesetzlichen Anforderungen an Medizin&shy;produkte&shy;berater. </li>
            <li> kennen die Aufgaben und Pflichten von Medizin&shy;produkte&shy;beratern und wissen, wie die Rollen MPB und Verantwortliche Person interagieren. </li>
            <li> wissen was schwerwiegende Vorkommnisse sind, und dass diese zeitnah gemeldet werden müssen. </li> 
            <li> wissen, auf was Sie in der Beratung und beim Verkauf von Medizin&shy;produkten achten müssen. </li>
          </ul>
          Praxisübungen als fester Bestandteil des Seminars gewährleisten den Schulungserfolg.<br /> 
          Eine abschließende Prüfung bescheinigt diesen Erfolg. <br /> <br />
          <h6> Teilnahmebescheinigung </h6>
          Sie erhalten im Anschluss des Webinars eine Teilnahmebescheinigung
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section cta">
  <div class="container">
    <div class="row mw-100">
      <div class="col-x4-5 col-lg-8 col-sm-12 col-xs-12 pb-4">
        <div class="cta-item bg-white p-5 rounded">
          <h2 class="mb-4 position-relative content-title">Inhalt und Ablauf</h2>
          <p class="">In nur einem halben Tag vermittelt Ihnen der ISO 13485-Lead-Auditor Alexander Thern alle 
          diese Kenntnisse. Er führt Sie in die Welt der Medizin&shy;produkte&shy;gesetze ein (insbesondere 
          MPDG §83) und zeigt Ihnen ganz praxisnah, wie Sie diese gesetzlichen Anforderungen ohne 
          unnötigen Aufwand erfüllen können.
          <br/> Dabei stehen insbesondere folgende Themen im Fokus: 
          <ul class="lh-10" >
            <li> 
              Gesetzliche Grundlagen: Medizin&shy;produkte&shy;durchführungs&shy;gesetz (MPDG), die MDR 
              2017/745 und soweit zutreffend IVDR 2017/46 inklusive neuester Änderungen </li>
            <li> 
              CE-Kennzeichnung, Grundlegende Sicherheits- und Leistungsanforderungen, 
              Klassifizierung, Labeling, Risikoklassen von MP und IVD, Wege zum CE-Zeichen
            </li>
            <li> Betreiberverordnung, Anit-Kooruptionsgesetz </li>
            <li> Gesetzliche Anforderungen an Medizin&shy;produkte&shy;berater des Deutschen MPDG und 
              österreichischem MPG </li>
            <li> Konformitäts&shy;bewertungs&shy;verfahren: Klassifizierungs&shy;regeln, CE-Kennzeichnung 
            </li> 
            <li>Überwachung nach dem Inverkehrbringen: Beobachtungs- und Meldesystem, Meldung von 
              schwerwiegenden Vorkommnissen </li>
          </ul>
          Praxisübungen als fester Bestandteil des Seminars gewährleisten den Schulungserfolg.<br /> 
          <br /> 
          Eine abschließende Prüfung bescheinigt diesen Erfolg. </p>
        </div>
      </div>
      <div class="col-x1-5 col-lg-4 col-sm-12 col-xs-12 ">
        <div class="cta-item bg-white p-5 rounded">
          <h2 class="mb-4">
            Uhrzeit & Themen
          </h2>
          <p class="">
          <h5 class="pb-0 mb-2"> 13:00 - 13:30 </h5> Einführung, Vorstellung der Teilnehmer <br/> <br/>
          <h5 class="pb-0 mb-2"> 13:30 - 15:00</h5>Regulatorische Grundlagen <br/> <br/> 
          <h5 class="pb-0 mb-2"> 15:00 - 15:15 </h5>Pause<br/> <br/> 
          <h5 class="pb-0 mb-2"> 15:15 - 16:45 </h5>Aufgaben und Pflichten des Medizin&shy;produkte&shy;beraters<br/> <br/> 
          <h5 class="pb-0 mb-2"> 16:45 - 17:00 </h5>Abschlusstest und Ende des Seminars
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About Start -->
<section class="pb-0 section about-2 position-relative" id="wir">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-8">
        <div class="about-item pr-3 mb-5 mb-lg-0">
          <h2 class="mt-3 mb-4 position-relative content-title">Zielgruppe</h2>
          <p class="">
          Das Seminar "Medizinprodukteberater MPDG" wendet sich v.a. an Personen, 
          <ul class="pl-3" >
            <li>
              die bei Medizinprodukteherstellern oder im Vertrieb von Medizinprodukten tätig sind,</li>
            <li>die bereits die Rolle eines Medizinprodukteberaters innehaben und ihren 
              Kenntnisstand auf die neuen Gesetze hin aktualisieren wollen, </li>
            <li> die sich zum Medizinprodukteberater MPDG ausbilden lassen wollen </li>
          </ul> 
          Das Seminar erfüllt die Anforderungen des BVMed zur Ausbildung zum 
          Medizinprodukteberater. 
          </p> <br />
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 ">
        <div class="about-item-img">
          <img loading="lazy" src="stock/zielgruppe_3.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->
<!-- Section About Start -->
<section class="section about-2 position-relative" id="wir">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-4 pb-5 d-none d-lg-block ">
        <div class="about-item-img ">
          <img loading="lazy" src="stock/pexels-pavel-danilyuk-7658197_3.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6 col-xl-8">
        <div class="about-item pl-3 mb-5 mb-lg-0">
          <h2 class="mb-4 position-relative content-title">Technische Voraussetzungen</h2>
          <p class="">
          Wir setzen ausschließlich browserbasierte Tools (bspw. Zoom oder MS TEAMS) im Rahmen 
          unserer Webinare ein. Es sind somit keine Installationen im Vorfeld notwendig. Zur 
          Teilnahme an unseren Webinaren benötigen Sie: 
          <ul class="pl-3" >
            <li>eine Internetverbindung mit mind. 6000er-DSL-Leitung. Wir empfehlen die Nutzung eines 
              LAN-Kabels. </li>
            <li>einen aktuellen Webbrowser (Firefox, Google Chrome, Edge, Safari). Bitte beachten Sie, 
              dass eine Teilnahme über den Internet Explorer nicht möglich ist. </li>
            <li>ein audiofähiges Endgerät (PC oder Laptop) mit Lautsprecher/Kopfhörer, Mikrofon und 
              Webcam. </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="bg-grey mt-0 pb-0" style="height:2px;width:100%;text-align:center;margin-left:0; border-top: 1px solid rgb(15,70,150);">
<!-- Section About Start -->
<section class=" section about-2 position-relative" id="wir">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <div class="about-item pr-3 mb-0 mb-lg-0">
          <h2 class="mt-0 mb-4 position-relative content-title">10% Buchungsrabatt</h2>
          <p class="">
          Die BQS GmbH bietet mit Ihrem Partner der Firma en.co.tec. folgende Schulungen an: 
          <br />
          <a href="https://www.encotec.at/encotec-akademie/schulung-medizinprodukte/">https://www.encotec.at/encotec-akademie/schulung-medizinprodukte/</a>
          <br />
          <br />
          Geben Sie den folgenden Gutschein-Code bei der Buchung im Webshop ein<br/> und erhalten 10% 
          Nachlass: <b class="text-color">BQS2023</b> <br /><br />
          Hier direkt zur Buchung: <a href="https://www.encotec.at/shop/">https://www.encotec.at/shop/</a> <br /> 
          <b>Der Rabatt kann sogar zusätzlich zu dem Frühbucher-Rabatt eingelöst werden! </b>
          </p> <br />
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 d-none d-lg-block ">
        <div class="about-item-img">
          <img loading="lazy" src="stock/rabatt.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About End -->
<!--
  <section class="section cta">
  <div class="container">
  <div class="row">
  <div class="col-x1-5 col-lg-6">
  <div class="cta-item bg-white p-5 rounded">
  <span class="h6 text-color"> {{ site.kasten_top }}</span>
  <h2 class="mt-2 mb-4">
  {{ site.kasten_head }}
  </h2>
  <p class="lead mb-4">
  {{ site.kasten_text }}
  </p>
  <h3><i class="ti-mobile mr-3 text-color"></i>{{ site.telefon }}</h3>
  </div>
  </div>
  </div>
  </div>
  </section>
  --!>
  <!-- Section Services End -->
  {% include contact.html %}
  {% include footer.html %}
