<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Best Quality Solutions GmbH</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Best Quality Solutions GmbH" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <meta name="author" content="vldn" />
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css" />
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="plugins/slick/slick.css" />
    <link rel="stylesheet" href="plugins/slick/slick-theme.css" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <!--Favicon-->
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header class="navigation">
   
      <div id="navbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg px-0 py-4">
                <a class="navbar-brand" href="test.html">
                  <span>
<img src="images/logo.svg" / style="height: 31px";>
 </span>
                </a>
                <button
                  class="navbar-toggler collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarsExample09"
                  aria-controls="navbarsExample09"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="fa fa-bars"></span>
                </button>
                <div
                  class="collapse navbar-collapse text-center"
                  id="navbarsExample09"
                >
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="test.html">Home</a>
                    </li>
       <li class="nav-item @@company">
                      <a class="nav-link" href="test.html#wir">Über uns</a>
                    </li>
    <li class="nav-item @@company">
                      <a class="nav-link" href="test.html#team">Ansprechpartner</a>
                    </li>

                    <li class="nav-item @@service">
                      <a class="nav-link" href="test.html#services">Services</a>
                    </li>
                  </ul>
                  <div class="my-2 my-md-0 ml-lg-4 text-center">
                    <a
                      href="test.html#kontakt"
                      class="btn btn-solid-border btn-rounded"
                      >Kontakt</a
                    >
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
